/bootstrap/compiled.php
/vendor
source/public/lib
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/*.sublime-project
/*.sublime-workspace
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/Source/public/*.log