.small-text {
    font-size: 0.75em;
    color: #ccc;
}

textarea {
    resize: none;
}

.search-button {
    width: 40px;
    height: 34px;
    padding: 0;
}/*

*/.glyphicon-search {
    font-size: 1.2em;
}